.listingblock .pygments .tok-hll {
background-color:#eee;
}
.listingblock .pygments .tok-c {
color:#408090;
font-style:italic;
}
.listingblock .pygments .tok-err {
border:1px solid #FF0000;
}
.listingblock .pygments .tok-k {
color:#007020;
font-weight:bold;
}
.listingblock .pygments .tok-o {
color:#666666;
}
.listingblock .pygments .tok-cm {
color:#408090;
font-style:italic;
}
.listingblock .pygments .tok-cp {
color:#007020;
}
.listingblock .pygments .tok-c1 {
color:#408090;
font-style:italic;
}
.listingblock .pygments .tok-cs {
background-color:#FFF0F0;
color:#408090;
}
.listingblock .pygments .tok-gd {
color:#A00000;
}
.listingblock .pygments .tok-ge {
font-style:italic;
}
.listingblock .pygments .tok-gr {
color:#FF0000;
}
.listingblock .pygments .tok-gh {
color:#000080;
font-weight:bold;
}
.listingblock .pygments .tok-gi {
color:#00A000;
}
.listingblock .pygments .tok-go {
color:#303030;
}
.listingblock .pygments .tok-gp {
color:#C65D09;
font-weight:bold;
}
.listingblock .pygments .tok-gs {
font-weight:bold;
}
.listingblock .pygments .tok-gu {
color:#800080;
font-weight:bold;
}
.listingblock .pygments .tok-gt {
color:#0040D0;
}
.listingblock .pygments .tok-kc {
color:#007020;
font-weight:bold;
}
.listingblock .pygments .tok-kd {
color:#007020;
font-weight:bold;
}
.listingblock .pygments .tok-kn {
color:#007020;
font-weight:bold;
}
.listingblock .pygments .tok-kp {
color:#007020;
}
.listingblock .pygments .tok-kr {
color:#007020;
font-weight:bold;
}
.listingblock .pygments .tok-kt {
color:#902000;
}
.listingblock .pygments .tok-m {
color:#208050;
}
.listingblock .pygments .tok-s {
color:#4070A0;
}
.listingblock .pygments .tok-na {
color:#4070A0;
}
.listingblock .pygments .tok-nb {
color:#007020;
}
.listingblock .pygments .tok-nc {
color:#0E84B5;
font-weight:bold;
}
.listingblock .pygments .tok-no {
color:#60ADD5;
}
.listingblock .pygments .tok-nd {
color:#555555;
font-weight:bold;
}
.listingblock .pygments .tok-ni {
color:#D55537;
font-weight:bold;
}
.listingblock .pygments .tok-ne {
color:#007020;
}
.listingblock .pygments .tok-nf {
color:#06287E;
}
.listingblock .pygments .tok-nl {
color:#002070;
font-weight:bold;
}
.listingblock .pygments .tok-nn {
color:#0E84B5;
font-weight:bold;
}
.listingblock .pygments .tok-nt {
color:#062873;
font-weight:bold;
}
.listingblock .pygments .tok-nv {
color:#BB60D5;
}
.listingblock .pygments .tok-ow {
color:#007020;
font-weight:bold;
}
.listingblock .pygments .tok-w {
color:#BBBBBB;
}
.listingblock .pygments .tok-mf {
color:#208050;
}
.listingblock .pygments .tok-mh {
color:#208050;
}
.listingblock .pygments .tok-mi {
color:#208050;
}
.listingblock .pygments .tok-mo {
color:#208050;
}
.listingblock .pygments .tok-sb {
color:#4070A0;
}
.listingblock .pygments .tok-sc {
color:#4070A0;
}
.listingblock .pygments .tok-sd {
color:#4070A0;
font-style:italic;
}
.listingblock .pygments .tok-s2 {
color:#4070A0;
}
.listingblock .pygments .tok-se {
color:#4070A0;
font-weight:bold;
}
.listingblock .pygments .tok-sh {
color:#4070A0;
}
.listingblock .pygments .tok-si {
color:#70A0D0;
font-style:italic;
}
.listingblock .pygments .tok-sx {
color:#C65D09;
}
.listingblock .pygments .tok-sr {
color:#235388;
}
.listingblock .pygments .tok-s1 {
color:#4070A0;
}
.listingblock .pygments .tok-ss {
color:#517918;
}
.listingblock .pygments .tok-bp {
color:#007020;
}
.listingblock .pygments .tok-vc {
color:#BB60D5;
}
.listingblock .pygments .tok-vg {
color:#BB60D5;
}
.listingblock .pygments .tok-vi {
color:#BB60D5;
}
.listingblock .pygments .tok-il {
color:#208050;
}
