{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        funcool/cuerdas {:mvn/version "2.2.0"}
        cljsjs/moment {:mvn/version "2.24.0-0"}
        com.bhauman/figwheel-main {:mvn/version "0.2.1"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
 :paths ["src" "target"]}
